<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.goodminton.model.dao.CourtDao">
	
	<insert id="insert" parameterType="Court" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO court (name, location)
		VALUES (#{name}, #{location})
	</insert>

	<select id="selectByLocation" resultType="Court" parameterType="String">
		SELECT *
		FROM court
		WHERE location LIKE CONCAT('%', #{location},'%')
	</select>

	<select id="selectByName" resultType="Court" parameterType="String">
		SELECT *
		FROM court
		WHERE user_id = #{userId}
	</select>
</mapper>