<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.goodminton.model.dao.FavoriteCourtDao">

	<insert id="insert" parameterType="FavoriteCourt" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO favoritecourt (user_id, count, court_id)
		VALUES
		(#{userId}, #{count}, #{courtId})
	</insert>

	<select id="selectCourts" parameterType="String" resultType="FavoriteCourt">
		SELECT *
		FROM favoritecourt
		WHERE user_id = #{userId}
		ORDER BY count DESC
	</select>
</mapper>