<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.goodminton.model.dao.FavoriteCourtDao">

	<insert id="insert" parameterType="FavoriteCourt" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO favoritecourt (user_id, court_id)
		VALUES
		(#{userId}, #{courtId})
	</insert>

	<select id="selectCourts" parameterType="String" resultType="FavoriteCourt">
		SELECT *
		FROM favoritecourt
		WHERE user_id = #{userId}
		ORDER BY count DESC
	</select>
	
	<update id="update" parameterType="FavoriteCourt">
		UPDATE favoritecourt
		SET
		count = count + 1
		WHERE user_id = #{userId}
		AND court_id = #{courtId}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM favoritecourt WHERE id = #{id}
	</delete>
</mapper>